# H1: Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized**

**Objectives:List popular languages for Data Science**
* Python
* R
* Java

In [ ]:
*Some of the popular languages that Data Scientists use are:*

1. Python
2. R
3. Java

**Some of the commonly used libraries used by Data Scientists include:**

1. Pandas
2. Numpy
3. Tensorflow

| Data Science Tools|
|-------------------|
|Jupyter Notebooks|
|Rstudio|
|Zeppelin Notebooks|

### H3: Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4) + 5

17

#### H4: This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4) + 5

17

In [3]:
8/2

4.0

##### This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author: Bipasha Choudhury